:local(.App) {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, hsl(0, 10%, 98%) 0%, hsl(0, 15%, 99%) 100%);

  .tabs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    border: 2px solid hsl(0, 20%, 90%);
    border-bottom: none;
  }

  .main {
    flex-grow: 1;
    background: var(--color-white);
    border-radius: 12px;
    margin: 10px;
    border: 2px solid hsl(0, 20%, 90%);
  }

}

* {
  user-select: none;
}
.bjs-powered-by {
  display: none !important;
}
.fjs-powered-by-link{
  display: none !important;
}